.cell {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #c9c9c9;
  border: 3px solid #636363;
  border-top-color: #f8f8f8;
  border-left-color: #f8f8f8;

  cursor: pointer;

  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: #999999;
  }

  &:active {
    border-top-color: #444;
    border-left-color: #444;
    border-bottom-color: #f8f8f8;
    border-right-color: #f8f8f8;
  }

  &.opened {
    background-color: #fff;
    box-shadow: none;
  }

  &.mine {
    background-color: #d87c7c;
  }

  &.number1 {
    color: #a3b18a;
  }

  &.number2 {
    color: #219ebc;
  }

  &.number3 {
    color: #d4a373;
  }

  &.number4 {
    color: #2a9d8f;
  }

  &.number5 {
    color: #ffb703;
  }

  &.number6 {
    color: #fb8500;
  }

  &.number7 {
    color: #023047;
  }

  &.number8 {
    color: #8ecae6;
  }
}
