.board {
  display: grid;
  border: 3px solid #636363;
  border-right-color: #f8f8f8;
  border-bottom-color: #f8f8f8;

  &.beginner {
    grid-template-columns: repeat(8, 30px);
  }

  &.intermediate {
    grid-template-columns: repeat(16, 30px);
  }

  &.expert {
    grid-template-columns: repeat(32, 30px);
  }

  &.custom {
    grid-template-columns: repeat(var(--columns), 1fr);
  }
}
