.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #636363;
  border-right-color: #f8f8f8;
  border-bottom-color: #f8f8f8;
  background-color: #c9c9c9;
  margin-bottom: 10px;
}

.info_container {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer,
.mines {
  min-width: 50px;
  width: auto;
  height: 100%;
  text-align: right;
  padding: 2px 5px;
  font-size: 40px;
  font-weight: bold;
  font-family: Digital Dismay Regular;
  color: #e5383b;
  background-color: #000;
}

.reset_button {
  height: 100%;
  cursor: pointer;
  background-color: #c9c9c9;
  border: 3px solid #636363;
  border-left-color: #f8f8f8;
  border-top-color: #f8f8f8;

  &:hover {
    background-color: #999999;
  }
}
